<!-- mahayasser@yahoo.com
102030 -->

<div class="container bg-main-light p-3 rounded-4 my-4">
    <h1 class="h2 text-main">Register now:</h1>

    <form [formGroup]="registerform" (ngSubmit)="test()">
        <div class="my-3">
            <label for="name">Name</label>
            <input [ngClass]="{
                'is-valid':!registerform.get('name')?.errors && registerform.get('name')?.touched,
                'is-invalid':registerform.get('name')?.errors && registerform.get('name')?.touched,
            }" type="text" class="form-control" id="name" formControlName="name">

            @if (registerform.get('name')?.errors && (registerform.get('name')?.touched || registerform.get('name')?.dirty)) {
                <div class="alert alert-danger w-50 ">
                    @if (registerform.get('name')?.getError('required')) {
                        <p class="m-0">the name input is required</p>

                    }@else if (registerform.get('name')?.getError('minlength')) {
                        <p class="m-0" >the name must not be less than 3 characters</p>
                    }
                    
                    </div>
            }

        </div>
        <div class="my-3">
            <label for="email">email</label>
            <input [ngClass]="{
                'is-valid':!registerform.get('email')?.errors && registerform.get('email')?.touched,
                'is-invalid': registerform.get('email')?.errors && registerform.get('email')?.touched,
            }"
             type="email" class="form-control" id="email" formControlName="email">

            @if (registerform.get('email')?.errors && (registerform.get('email')?.touched || registerform.get('email')?.dirty)) {
                <div class="alert alert-danger ">
                    @if (registerform.get('email')?.getError('required')) {
                        <p class="m-0">Email is required</p>
                    }@else if (registerform.get('email')?.getError('email')) {
                        <p class="m-0">please enter a valid email</p>
                    }
                </div>
            }
        </div>
        <div class="my-3">
            <label for="phone">phone</label>
            <input [ngClass]="{
                'is-valid':!registerform.get('phone')?.errors && registerform.get('phone')?.touched,
                'is-invalid': registerform.get('phone')?.errors && registerform.get('phone')?.touched,
            }"
             type="tel" class="form-control" id="phone" formControlName="phone">
            
            @if (registerform.get('phone')?.errors && (registerform.get('phone')?.touched || registerform.get('phone')?.dirty)) {
                <div class="alert alert-danger ">
                    @if (registerform.get('phone')?.getError('required')) {
                        <p class="m-0">phone is required</p>
                    }@else if (registerform.get('phone')?.getError('pattern')) {
                        <p class="m-0">please enter a valid phone</p>
                    }
                </div>
            }
        </div>
       
        <div class="my-3">
            <label for="password">password</label>
            <input [ngClass]="{
                'is-valid':!registerform.get('password')?.errors && registerform.get('password')?.touched,
                'is-invalid': registerform.get('password')?.errors && registerform.get('password')?.touched,
            }"
             type="password" class="form-control" id="password" formControlName="password">
            @if (registerform.get('password')?.errors && (registerform.get('password')?.touched || registerform.get('password')?.dirty)) {
                <div class="alert alert-danger ">
                    @if (registerform.get('password')?.getError('required')) {
                        <p class="m-0">password is required</p>
                    }@else if (registerform.get('password')?.getError('pattern')) {
                        <p class="m-0">please enter a valid password</p>
                    }
                </div>
            }
        </div>
        <div class="my-3">
            <label for="rePassword">rePassword</label>
            <input type="password" class="form-control" id="rePassword" formControlName="rePassword">
            
                    @if (registerform.getError('mismatch')&& registerform.get('rePassword')?.touched) {
                        <p class="alert alert-danger m-0">Password match is not confirmed</p>
                    }
        </div>
           
        <button [disabled]="registerform.invalid || loading" type="submit" class="btn-main">Register
            @if (loading) {
                <span><i class="fas fa-spin fa-spinner"></i></span>
            }
        </button>
        @if (errorMsg) {
            <p class="alert alert-danger mt-2">{{errorMsg}}</p>
        }
        
        @if (msgSuccess) {
            <p class="alertgreen fw-bolder mt-4">Registration is complete <i class="fa-solid fa-check"></i></p>

        }        
    </form>
</div>