<section class="container">
    <h1 class="text-center">forgot password</h1>


    <!-- verifyEmail -->
    @if (step==1) {
        <form [formGroup]="verifyEmail" class="mx-3 bg-main-light p-3 rounded" (ngSubmit)="step1Verify()">

            <div class=" ">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" formControlName="email">
            </div>
        
            <button [disabled]="verifyEmail.invalid" class="btn-main mt-3">Verify Email</button>
        
            </form>
    } @else if (step==2) {
        
    <form [formGroup]="verifyCode" class="mx-3 bg-main-light p-3 rounded" (ngSubmit)="step2Code()">

        <div class=" ">
            <label for="code">Code</label>
            <input type="text" id="code" class="form-control" formControlName="code">
        </div>
    
        <button [disabled]="verifyCode.invalid" class="btn-main mt-3">Verify Code</button>
    
        </form>
    } @else if (step==3) {
        <form [formGroup]="resetPassword" class="mx-3 bg-main-light p-3 rounded" (ngSubmit)="step3Code()">

            <div class=" ">
                <label for="resetPassword">resetPassword</label>
                <input type="password" id="resetPassword" class="form-control" formControlName="resetPassword">
            </div>
        
            <button [disabled]="resetPassword.invalid" class="btn-main mt-3">Verify Email</button>
        
            </form>
    }

        


</section>