
<section class="mb-2">
    <div class="row g-0">
        <div class="col-md-8">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img class="w-100 " height="400"  src="assets/images/brand6.jpg" alt="">

                </ng-template>  
                <ng-template carouselSlide>
                    <img class="w-100 " height="400"  src="assets/images/brand5.png" alt="">

                </ng-template>  
                <ng-template carouselSlide>
                    <img class="w-100 " height="400"  src="../../../assets/images/brand4.jpg" alt="">

                </ng-template>  
              
              </owl-carousel-o>



        </div>
        <div class="col-md-4">
            <img class="w-100" height="200" src="assets/images/brand1.jpg" alt="">
            <img class="w-100" height="200" src="assets/images/brand2.jpeg" alt="">
        </div>
    </div>
</section>

<h1 class="text-center h3 mauve mt-4 p-4">Check out our brands!</h1>

<div >
    <section class="mx-auto ">
        <div class="  row justify-content-center align-items-center">
            @for (brand of brands; track brand._id) {
                
                    <div  class="col-md-2 mx-1 my-1 product   ">
                        <div class="">
                        <img class="w-100" [src]="brand.image" alt="">
                        
                        </div>
                    </div>
                
                
    
            }
        </div>
    </section>
</div>